<div class="container">
  <div class="card-columns">
    <div class="card mt-4 bg-primary" style="cursor: pointer;">
      <div class="card-body">
        <h5 class="card-title">Create New Todo</h5>
        <form>
          <div class="form-group">
            <label for="titleToDo">Title of ToDo</label>
            <input type="text" class="form-control" id="titleToDo" placeholder="Title">
          </div>
          <button type="submit" class="btn btn-primary" (click)="addTask()">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

